# Requirements for tests
pytest
ml_dtypes
mx @ git+https://github.com/microsoft/microxcaling

# Requirements for development
pre-commit
black
mypy
black[jupyter]
isort

# Requirements for notebooks
airium
pandas
